## Preprocessing

In [266]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import requests
from io import StringIO

#  Import and read the charity_data.csv.
r = requests.get("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv", verify=False)
data = StringIO(r.text)
application_df = pd.read_csv(data)
application_df.head()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'static.bc-edx.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [267]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [268]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [269]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [270]:
# Choose a cutoff value and create a list of application types to be replaced use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 1].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [271]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [272]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [273]:
# Choose a cutoff value and create a list of classifications to be replaced use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [274]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T14',
       'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17', 'APPLICATION_TYPE_T19',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=117)

In [275]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL', 'ASK_AMT'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=44)

In [276]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [277]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
hidden_nodes_layer1 =  150
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
hidden_nodes_layer2 = 90
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
hidden_nodes_layer3 = 30
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Fourth hidden layer
hidden_nodes_layer4 = 10
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))

# Output layer
number_output_neurons = 1
nn.add(tf.keras.layers.Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_81 (Dense)            (None, 150)               17400

 dense_82 (Dense)            (None, 90)                13590

 dense_83 (Dense)            (None, 30)                2730

 dense_84 (Dense)            (None, 10)                310

 dense_85 (Dense)            (None, 1)                 11

=================================================================
Total params: 34041 (132.97 KB)
Trainable params: 34041 (132.97 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [278]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [292]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback for early stopping on the basis of validation loss
es_callback = EarlyStopping(monitor='accuracy', patience=6)

# Create a callback to save the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq='epoch', period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2, 
                   callbacks=[es_callback, cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
644/644 [==============================] - 1s 959us/step - loss: 0.5274 - accuracy: 0.7464 - val_loss: 0.5628 - val_accuracy: 0.7287
Epoch 2/100
644/644 [==============================] - 1s 909us/step - loss: 0.5269 - accuracy: 0.7465 - val_loss: 0.5630 - val_accuracy: 0.7308
Epoch 3/100
644/644 [==============================] - 1s 896us/step - loss: 0.5270 - accuracy: 0.7463 - val_loss: 0.5618 - val_accuracy: 0.7308
Epoch 4/100
644/644 [==============================] - 1s 927us/step - loss: 0.5277 - accuracy: 0.7463 - val_loss: 0.5632 - val_accuracy: 0.7289
Epoch 5/100
633/644 [============================>.] - ETA: 0s - loss: 0.5263 - accuracy: 0.7473
Epoch 5: saving model to checkpoints/weights.05.hdf5
644/644 [==============================] - 1s 913us/step - loss: 0.5268 - accuracy: 0.7468 - val_loss: 0.5620 - val_accuracy: 0.7304
Epoch 6/100
644/644 [==============================] - 1s 896us/step - loss: 0.5273 - accuracy: 0.7461 - val_loss: 0.5632 - val_accuracy: 0.7287
Epoch 7/100
644/644 [==============================] - 1s 886us/step - loss: 0.5287 - accuracy: 0.7447 - val_loss: 0.5629 - val_accuracy: 0.7296
Epoch 8/100
644/644 [==============================] - 1s 882us/step - loss: 0.5273 - accuracy: 0.7457 - val_loss: 0.5625 - val_accuracy: 0.7308
Epoch 9/100
644/644 [==============================] - 1s 905us/step - loss: 0.5269 - accuracy: 0.7455 - val_loss: 0.5621 - val_accuracy: 0.7281
Epoch 10/100
635/644 [============================>.] - ETA: 0s - loss: 0.5260 - accuracy: 0.7448
Epoch 10: saving model to checkpoints/weights.10.hdf5
644/644 [==============================] - 1s 894us/step - loss: 0.5266 - accuracy: 0.7444 - val_loss: 0.5616 - val_accuracy: 0.7259
Epoch 11/100
644/644 [==============================] - 1s 875us/step - loss: 0.5270 - accuracy: 0.7429 - val_loss: 0.5596 - val_accuracy: 0.7289

In [293]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5654 - accuracy: 0.7228 - 105ms/epoch - 391us/step
Loss: 0.5653759241104126, Accuracy: 0.7227988243103027

In [294]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(